div {
  width: 200px;
  height: 200px;
  background-color: yellow;
  overflow: scroll;
  overflow-x: hidden;
}
/*utilizando o overflow: hidden, o usuário n consegue ver o resto do texto, diferente do
overflow: scroll que mostra uma tela com rolagem. 
overflow-x:hidden = serve para esconder a barra do eixo x da rolagem*/