body{  
    background: #dfdfdf;
}
 
p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    width: 350px;
    border: 5px solid #ffffff; 
    border-radius: 50%; 
    margin: 30px;
    padding: 100px; /* padding altera o espaçamento interno e o margin o espaçamento externo.*/
}
