body{  
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /* background-position:100% 90%; */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: rgb(34, 34, 34);
}

.verde {
    color: green;
}
