<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
<%- include('partials/header.ejs') %> 
  <main>
    <h1>Cadastro de Posts</h1>
    <% if (cadastrado) { %>
      Cadastro realizado com sucesso
    <% } %>
    <form action="/salvar-post" method="post">
      <div>
        <label>Título</label>
        <input name="titulo" type="text" placeholder="Digite o título">
      </div>
      <div>
        <label>Texto</label>
        <textarea name="texto"></textarea>
      </div>
      <div>
        <button type="submit">Enviar</button>
      </div>
    </form>
  </main>
<%- include('partials/footer.ejs') %>
</body>
</html>