:root {
  --color-primary: rgb(160, 32, 32);
  --color-secundary: rgb(106, 0, 255);
  
  --spacing:16px;
}

h1 {
  color: var(--color-primary);
  margin: var(--spacing);
}

p {
  color: var(--color-primary);
}

h2 {
  color: var(--color-secundary)
}


.button {
  background: var(--color-primary) ;
  color: white;
}